@page "/administracion"
@inject NavigationManager Navigation
@inject HttpClient Http

<h3>Administracion</h3>

<button @onclick="GoToCrearRestaurant">Crear un nuevo Restaurante</button>
<button @onclick="GoToVerRestaurantes">Ver Restaurantes Existentes</button>

@code {
    private void GoToCrearRestaurant()
    {
        Navigation.NavigateTo("/crear-restaurante");
    }

    private void GoToVerRestaurantes()
    {
        Navigation.NavigateTo("/ver-restaurantes");
    }
}
