@page "/map"
@inject HttpClient Http
@inject IJSRuntime JS
@using System.Text.Json.Serialization
@using BlazorAppWithServer.Shared.Models


<h3>Mi Mapa</h3>
<div id="map" style="height: 500px;"></div>

@code {
    private double Latitude { get; set; }
    private double Longitude { get; set; }
    private List<RestaurantMapInfo> puntos = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetLocationAsync();
            await JS.InvokeVoidAsync("initMap", puntos);
        }
    }

    private async Task GetLocationAsync()
    {
        
        var location = await JS.InvokeAsync<double[]>("getLocation");
        Latitude = location[0];
        Longitude = location[1];

        
        puntos.Add(new RestaurantMapInfo
        {
            Id = 0, 
            Lat = Latitude,
            Lng = Longitude,
            Name = "Tu Ubicación",
            TablesCount = 0
        });

        
        var coordinates = await Http.GetFromJsonAsync<List<RestaurantMapInfo>>("api/restaurant/getMaps");
        if (coordinates != null)
        {
            puntos.AddRange(coordinates);
        }
    }
}
