@page "/mesadenegada/{restaurantId}/{tableId}"
@inject HttpClient Http

<h3>Acceso Denegado</h3>

<div class="alert alert-danger">
    Lo sentimos, debes estar en el restaurante para acceder a esta mesa.
</div>

@code {
    [Parameter]
    public string restaurantId { get; set; }
    
    [Parameter]
    public string tableId { get; set; }
}

